.App {
  text-align: center;
}

.Resume-section {
  display: flex;
}

.Resume-container {
  display: flex;
  width: auto;
  height: auto;
}

.Resume-container-low{
  display: flex;
  flex-direction: column;
  width: '100%';
  margin-top: 30px;
  align-items: center;
}

.Section-side{
  flex: 1;
  padding: 10px;
  }

.Section-side-low{
  flex: 1;
  margin-top: 50px;
  padding: 10px;
  flex-grow: 0;
  background-color: blue;
}

.Section-center-low{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Section-center{
  align-items: center;
  flex-shrink: 0;
}

.Text-format-left{
  text-align: left;
  margin-bottom: 15px;
  max-width: 500px;
}

.Href-text-color{
  color: rgb(19, 163, 14);
}

.Card-description-text{
  font-family: 'Raleway', sans-serif;
  font-size: large;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 'transparent';
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: 'transparent';
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 'transparent';
}