.App {
  text-align: center;
  width: '100%';
  background-color: burlywood;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 'transparent';
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: 'transparent';
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 'transparent';
}